*{
    font-family: "Playfair Display", serif;
}

h1 {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: var(--heading-size);
    line-height: 3em;
    font-size: 3em;
    text-align: center;
    color: #14213d;
}

.letters {
    background-color: #14213d;
    padding: 3em;
    color: #fdb541;
    border-radius: 3em 3em 0 0;
}

.certi {
    text-align: center;
    margin-top: 2em;

}

.certi-img{
    margin-top: 11em;
}


.lor {
    text-align: center;
}

.main_f {
    /* width: 1200px; */
    background-color: #fdb541;
    padding: 2em;
    border-radius: 0 0 3em 3em;
    /* margin-top: 2em; */
}

.col {
    margin-left: 0.5em;
    
}

.mb-3 {
    text-align: start;
}




@media (max-width: 500px) {
    .main_f {
        border-radius: 0em;
        margin-top: 0;
    }

    .col{
        width: 100%;
        flex-wrap: wrap;
    }

    h1 {
        font-size: 2em;
    }

    .letters{
        border-radius: 0;
    }

    .certi-img{
        margin-top: 0em;
    }

    .letters h3{
        font-size: 1.5em;
    }

    .letters .col{
        margin-top: 3em;
    }
}